@import '../../../assets/scss/variables';

#app-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 56px;
    width: 75%;
    height: calc(100vw - 56px);
    padding: $spacer;
    background-color: $white;

    a,
    p {
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }

    #logout {
        color: $red;
    }
}